name: release
run-name: Release ${{ github.run_number }}
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-package: 'jdk'
          java-version: '11'
          check-latest: true
          server-id: 'ossrh'
          server-username: OSSRH_USERNAME
          server-password: OSSRH_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: SIGN_KEY_PASS

      - name: Increment version
        run: |
          mvn build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.minorVersion} versions:commit
          git config user.name release-bot
          git config user.email release-bot@email.com
          git add .
          git commit -m "Prepare release"
          git push

      - name: Create Git tag
        run: |
          export version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          git config user.name release-bot
          git config user.email release-bot@email.com
          git tag -a $version -m "$version"
          git push origin $version

      - name: Build & Deploy
        run: mvn -U -B clean deploy -P release -P deploy
        env:
          SIGN_KEY_PASS: ${{ secrets.GPG_PRIVATE_KEY_PASSPHRASE }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}

      - name: Set next SNAPSHOT version
        run: |
          mvn build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.nextMinorVersion}-SNAPSHOT versions:commit
          git config user.name release-bot
          git config user.email release-bot@email.com
          git add .
          git commit -m "Set version to SNAPSHOT"
          git push